.wall_img {
    height: 200px;
    width: 1000px;
    object-fit: cover;
}
.after {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.avatar{
    background-image: url("../../../img/imgmy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #AC0340;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.card {
    display: flex;

}
.card_info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}