.wall_img {
    height: 200px;
    width: 1000px;
    object-fit: cover;
}
.after {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.avatar img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    display: flex;

}
.card_info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}