* {
    box-sizing: border-box;
}

body {
    background-color: #edeef0;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1500px;
    margin: auto;
}

.wrapper_hero {
    display: flex;
}